body, html {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

html, body, #app, .main-layout {
    height: 100%;
    font-family: "Arial";
}

body {
    background-color: $gray-1;
}

.container {
    margin: 2% auto 0 auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.el-header {
    background-color: black;
    line-height: 60px;
}
.login-header {
    text-align: center;
}

.page-title {
    font-family: Dolce-Vita;
    font-size: 50px;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

.header-right {
    position: absolute !important;
    top: 0;
    right: 0;
    height: 60px;
    width: auto;
}

// Imput
.el-input__inner:focus{
    border-color: $purple !important;
}
.el-textarea__inner:focus{
    border-color: $purple !important;
}

// Dropdwn
.el-select-dropdown__item.selected {
    color: lighten($purple, 30) !important;
}

.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: lighten($purple, 50) !important;
    color: lighten($purple, 10) !important;
}

// Buttons
.el-button {
    &.el-button--warning {
        background-color: $warning !important;
        border-color: $warning !important;
        color: white !important;

        &:hover {
            background-color: lighten($warning, 10) !important;
            border-color: lighten($warning, 10) !important;
            color: white !important;
        }

        &:focus {
            background-color: lighten($warning, 10) !important;
            border-color: lighten($warning, 10) !important;
            color: white !important;
        }
    }

    &.el-button--primary {
        background: $purple;
        border-color: $purple;
        color: white;

        &:hover {
            background-color: lighten($purple, 10);
            border-color: lighten($purple, 10);
            color: white;
        }

        &:focus {
            background-color: lighten($purple, 10);
            border-color: lighten($purple, 10);
            color: white;
        }
    }

    &.el-button--info {
        background: $gray_2;
        border-color: $gray_2;
        color: $gray-5;

        &:hover {
            background-color: lighten($gray_2, 10);
            border-color: lighten($gray_2, 10);
            color: $gray-5;
        }

        &:focus {
            background-color: lighten($gray_2, 10);
            border-color: lighten($gray_2, 10);
            color: $gray-5;
        }
    }
    &.el-button--danger {
        background: $error;
        border-color: $error;
        color: white;

        &:hover {
            background-color: lighten($error, 10);
            border-color: lighten($error, 10);
            color: white;
        }

        &:focus {
            background-color: lighten($error, 10);
            border-color: lighten($error, 10);
            color: white;
        }
    }
}
