<template>
    <div>
        <el-header class="login-header">
            <el-row>
                <span class="page-title">innova</span>

                <span class="header-right">
                    <el-link :underline="false" style="color: white" @click="loginDialogVisible = true">Login</el-link>
                    <el-divider direction="vertical"></el-divider>
                    <el-link :underline="false" style="color: white" @click="registerDialogVisible = true">Registrarse</el-link>
                </span>
            </el-row>
        </el-header>
        <el-header style="height: 3px; background-color: #9615db"></el-header>

        <el-dialog title="Login" :visible.sync="loginDialogVisible">

            <el-form :model="log_form" ref="log_form" :rules="log_rules">
                <el-form-item label="Usuario" prop="username">
                    <el-input v-model="log_form.username" placeholder="Usuario"></el-input>
                </el-form-item>

                <el-form-item label="Contraseña" prop="password">
                    <el-input v-model="log_form.password" type="password" show-password placeholder="Contraseña"></el-input>
                </el-form-item>

                <div v-if="$page.prop.errors">
                    <div v-for="error in $page.prop.errors">
                        <el-alert style="margin-bottom: 5px" v-for="(er, index) in error" :key="index" type="error" :title="er" :closable="false"></el-alert>
                    </div>
                </div>

                <div style="text-align: center">
                    <el-button type="primary" @click="login()">Entrar</el-button>
                </div>
            </el-form>

        </el-dialog>

        <el-dialog title="Registrarse" :visible.sync="registerDialogVisible">

            <el-form :model="reg_form" ref="reg_form" :rules="reg_rules">

                <el-form-item label="Nombre" prop="name">
                    <el-input v-model="reg_form.name" placeholder="Nombre"></el-input>
                </el-form-item>

                <el-form-item label="Usuario" prop="username">
                    <el-input v-model="reg_form.username" placeholder="Usuario"></el-input>
                </el-form-item>

                <el-row :gutter="20">
                    <el-col :span="12">
                        <el-form-item label="Contraseña" prop="password">
                            <el-input v-model="reg_form.password" type="password" show-password placeholder="Contraseña"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="Verificar Contraseña" prop="password_confirmation">
                            <el-input v-model="reg_form.password_confirmation" type="password" show-password placeholder="Verificar Contraseña"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>

                <div v-if="$page.prop.errors">
                    <div v-for="error in $page.prop.errors">
                        <el-alert style="margin-bottom: 5px" v-for="(er, index) in error" :key="index" type="error" :title="er" :closable="false"></el-alert>
                    </div>
                </div>

                <div style="text-align: center">
                    <el-button type="primary" @click="register()">Registrar</el-button>
                </div>
            </el-form>

        </el-dialog>

    </div>
</template>
<script>
    export default {
        data() {
            return {
                loginDialogVisible: false,
                log_form: {
                    username: '',
                    password: ''
                },
                log_rules: {
                    username: {required: true, message: 'Su usuario es requerido'},
                    password: {required: true, message: 'Su contraseña es requerida'}
                },
                registerDialogVisible: false,
                reg_form: {
                    name: '',
                    username: '',
                    password: '',
                    password_confirmation: ''
                },
                reg_rules: {
                    name: {required: true, message: 'Su nombre es requerido'},
                    username: {required: true, message: 'Su usuario es requerido'},
                    password: {required: true, message: 'Su contraseña es requerida'},
                    password_confirmation: {required: true, message: 'Debe verificar la contraseña'}
                }
            }
        },
        methods: {
            login() {
                this.$refs.log_form.validate(() => {
                    this.$inertia.post('/login', {
                        username: this.log_form.username,
                        password: this.log_form.password
                    })
                });
            },
            register() {
                this.$refs.reg_form.validate(() => {
                    this.$inertia.post('/register', {
                        name: this.reg_form.name,
                        username: this.reg_form.username,
                        password: this.reg_form.password,
                        password_confirmation: this.reg_form.password_confirmation
                    })
                });
            }
        },
    }
</script>
